<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查询结果</title>
    <style>
        h1{
            color: #dd8a8a;
            font-family: "Microsoft YaHei", "宋体", Arial, sans-serif, FreeSans, Arimo;
            font-size: 8em;
            text-align: center;
        }
        #info a{
            color: #dd8a8a;
            {#text-align: center;#}
            font-size: 4em;
            margin: auto;
            font-family: "Microsoft YaHei", "宋体", Arial, sans-serif;
        }
    </style>
</head>
<body>
    <h1>啥都找不到</h1>
    <span id="info">
        <a href="{% url "equip_manage_plat:index" %}">点我回到首页~</a>
    </span>
</body>
</html>